pre{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  padding: 5px;
  margin-top: 5px;
}

.email-container{
  margin-top: 5px;
}

.pulse-tag {
    background-color: #dedede;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 3px;
    display: inline-block;
    padding-bottom: 3px;
}


.open-modal-btn {
  border-radius: 4px;
  background-color: #363636;
  color: #fff;

  &:hover,
  &:focus {
    background: inherit;
    background-color: #2b2b2b;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }

  .open-modal-btn-icon {
    font-size: 9px;
  }
}

.expandable-title {
  display: block;
  color:  #5CCD18 !important;
  font-weight: 600;
  margin-bottom: 5px;
  & + .expandable-title {
    margin-top: 10px;
  }

  .text {
    color:  #5CCD18 !important;
    border-bottom: 1px solid #5CCD18;
    .desc {
      color:  black !important;
      font-weight: 400 !important;
    }
  }
}

.critical-summary-tag {
  background-color: #fe0061;
  color: #fff;
}

.tag-icon {
  color: #191314 !important;
}