@riot-color: #7bc942;
@border-color: #eee;
@p-blue-grey: #607d8b;
@danger-color: #ff4559;
@success-color: #5cb85c;
@warning-color: #ff8f00;

pre {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  padding: 5px;
  margin-top: 5px;
}

.email-container {
  margin-top: 5px;
}

.external-link-icon {
  font-size: 8px;
  margin-bottom: 1px;
}

.pulse-tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px;
  display: inline-block;
  padding-bottom: 3px;
}

.category-pill {
  display: inline-block;
  line-height: 2em;

  span.category {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1px 3px;
    background-color: #fff;
    margin: 0px;
  }

  span.category-count {
    padding: 1px 3px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 0px;
    background-color: #ddd;
  }
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}

.activity-container {
  max-height: 200px;
  overflow-y: auto;
  line-height: normal;
  border: 1px solid @border-color;
  padding: 5px;
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-bottom: 5px;

  & + .expandable-title {
    margin-top: 10px;
  }

  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;

    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.summary-icon {
  margin-bottom: 1px;
}

.api-call-to-action {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.riot-summary-tag {
  padding: 0 !important;

  .icon-container {
    background-color: @riot-color;
    height: 100%;
    padding: 3px 2px;
    margin-bottom: 0px;
    display: inline-block;

    svg {
      margin-bottom: 1px;
    }
  }

  .tag {
    padding: 0.25em 0em 0.25em 0.25em;
    display: inline-block;
  }

  .data {
    padding: 0.25em 0.4em 0.25em 0.25em;
    display: inline-block;
  }

  .stripe-bg {
    color: white;
    background: repeating-linear-gradient(45deg,
    @riot-color,
    @riot-color 5px,
    lighten(@riot-color, 5%) 5px,
    lighten(@riot-color, 5%) 10px) !important;
  }
}

.copy-btn-container {
  flex: 1 1 auto;
  position: absolute;
  right: 10px;
  top: 7px;

  .copy-btn {
    font-size: 12px;
    padding: 0px;
    height: 20px;

    :active {
      color: darken(#388e3c, 5%);
    }
  }

  .copy-success-message {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: rgb(222, 226, 230);
    min-width: max-content;
    padding: 5px;
    border-radius: 3px;

    .copy-success-icon {
      color: #aaa;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.25s linear;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.25s, opacity 0.25s linear;
    }
  }
}

.p-value {
  word-wrap: break-word;
  word-break: break-word;
}

.p-scrollable-table {
  max-height: 100px;
  overflow-y: auto;
}

.paging-bar {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: flex-end;

  .paging-info {
    margin: 0px 5px;
  }

  .paging-btn {
    border: 1px solid #e4e9f2;
    height: 20px;
    padding: 0px 8px 0px 8px;

    &:hover:enabled {
      background-color: darken(#e4e9f2, 5%);
    }
  }
}

h1 {
  color: @p-blue-grey;
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0 5px 0;
}

h2.p-title {
  font-size: 12px;
  font-weight: 500;
  color: @p-blue-grey;
  margin: 5px 0 5px 0;
}

h3 {
  font-size: 12px;
  font-weight: 400;
  color: @p-blue-grey;
  margin: 0px 0px 5px 0;
}

.p-table {
  tbody {
    tr {
      background-color: #f7f7f7;
      border-bottom: 1px solid white;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.p-title.large {
  font-size: 13px;
  margin-top: 10px;
}






.paged-container {
  border: 1px solid @border-color;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  h1.p-title {
    margin-top: 0px;
  }

  h2.p-title {
    margin-top: 10px;
  }
}

.tag-container {
  border: 1px solid @border-color;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  .tag-icon {
    color: #666;
    
    &.suspicious {
      color: @warning-color;
    }

    &.malicious {
      color: @danger-color;
    }
  }
}

.info-bar {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid #eee;

  .info-bar-row {
    display: flex;
    border-bottom: 1px dashed #eee;

    &:last-child {
      border-bottom: none;
    }

    &.two-wide {
      .info-bar-pill {
        width: 50%;
      }
    }

    .info-bar-pill {
      display: inline-block;
      width: 33%;
      padding: 3px 5px 3px 5px;

      .info-bar-key {
        width: 100%;
        display: inline-block;
        font-size: 10px;
      }

      .info-bar-value {
        display: inline-block;
        width: 100%;
        font-weight: 500;
      }
    }
  }
}

.classification {
  &.suspicious {
    color: @warning-color;
  }

  &.malicious {
    color: @danger-color;
  }
}

.icon-btn {
  font-size: 12px;
  padding: 0px;
  height: 20px;
  
  &:hover {
    background-color: @border-color;
  }

  :active {
    color: darken(@border-color, 10%);
  }
}

/* Beginning Filter Sytles */
@red: #FF4559;
@green: #7bc942;
@dark-green: #63a830;

.input-container {
  width: 100%;
  position: relative;

  label {
    display: block;

    .required {
      color: @red;
    }
  }

  input {
    cursor: text;
  }

  .clear-input-icon {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    color: #9a9a9a;

    &:hover {
      color: #484848;
    }
  }

  .ifta-label {
    margin-bottom: -15px;
    z-index: 1;
    position: relative;
    padding: 0px 10px 0 10px;
    pointer-events: none;
  }

  .ifta-field {
    border: 0;
    border-radius: 6px;
    padding: 15px 30px 5px 10px;
    margin: 0 0 15px;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 12px;
    height: 38px;

    &.error {
      border-color: @red;
    }
  }

  .ifta-field:focus {
    -webkit-appearance: none;
    outline: none;
    color: #000000;
    border-color: @green;
    box-shadow: 0 0 0 0.2rem rgba(123, 201, 66, 0.25);
  }

  &:focus-within label {
    color: @dark-green !important;
  }

  .select-arrow {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  input:disabled, select:disabled, textarea:disabled, &.text-area-container.disabled {
    background-color: #f6f6f3 !important;
  }
}

/* End of Filter Styles */
